html {
    background: linear-gradient(225deg, #ff957d, #ff5492);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    height: 100%;
    overflow: hidden;
    color: white;
    margin: 0;
    padding: 1rem;
}

@keyframes gradient {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

p {
    margin: 0;
    margin-bottom: 0.5rem;
}

svg.logo {
    fill: currentColor;
    width: 4em;
    height: 1.25em;
    margin-bottom: -0.35em;
}

.contact_links {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact_button:any-link {
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background: white;
    color: #ff5492;
}