<section class="card_list">
    {% for post in site.posts %}
        <a href="{{ post.url }}" class="card {{ post.category | downcase }}">
            <article>
                <div class="card_image" style="background: url({{ post.cover-picture }}) center/cover, var(--bg-btm);">
                </div>
                <div class="card_contents">
                    <h6><svg class="icon"><use href="
                        {% if post.category == "Tutorial" %}
                        /assets/img/icons.svg#icon-tutorial
                        {% elsif post.category == "Experiment" %}
                        /assets/img/icons.svg#icon-experiment
                        {% elsif post.category == "Game" %}
                        /assets/img/icons.svg#icon-game
                        {% else %}
                        /assets/img/icons.svg#icon-post
                        {% endif %}
                    "></use></svg> {{ post.category }}</h6>
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.summary }}</p>
                    <div class="details">
                        <p>{{ post.date | date_to_string: "ordinal", "US" }}</p>
                        <div class="comment_count">
                            <svg class="icon"><use href="/assets/img/icons.svg#icon-comment"></use></svg><span class="disqus-comment-count" data-disqus-identifier="{{post.url}}"></span>
                        </div>
                        
                    </div>
                </div>
            </article>
        </a>
    {% endfor %}
</section>