<section class="filter">
    <div class="slider-radio">
        <input type="radio" name="grade" id="all" checked="true" onclick="filterObjects('all')"><label for="all"><svg class="icon"><use href="/assets/img/icons.svg#icon-all"></use></svg><span>All</span></label>
        <input type="radio" name="grade" id="games" onclick="filterObjects('game')"><label for="games"><svg class="icon"><use href="/assets/img/icons.svg#icon-game"></use></svg><span>Games</span></label>
        <input type="radio" name="grade" id="tutorials" onclick="filterObjects('tutorial')"><label for="tutorials"><svg class="icon"><use href="/assets/img/icons.svg#icon-tutorial"></use></svg><span>Tutorials</span></label>
        <input type="radio" name="grade" id="experiments" onclick="filterObjects('experiment')"><label for="experiments"><svg class="icon"><use href="/assets/img/icons.svg#icon-experiment"></use></svg><span>Experiments</span></label>
    </div>
</section>