/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/MARKPROHEAVY.woff') format('woff');
}

body.light_theme {
    --bg-btm: #FFB43A;
    --bg-mid: #FBD939;
    --bg-high: #FEF242;
    --bg-top: #FFFFFF;
    --bg-dark: #121A42;

    --text: #121A42;
    --text-faded: #6874b1;
    --text-alt: #ffffff;

    --button: #ffffff;
    --button-interact: #F6F6F6;

    --red: #FF104F;
    --orange: #FF8047;
    --green: #01A182;
    --blue: #3386FF;
}
body.dark_theme {
    --bg-btm: #04091F;
    --bg-mid: #0B1131;
    --bg-high: #121A42;
    --bg-top: #212A59;
    --bg-dark: var(--bg-btm);

    --text: #ffffff;
    --text-faded: #99a1cf;
    --text-alt: #0B1131;

    --button: #212A59;
    --button-interact: #121A42;

    --red: #FF7C84;
    --orange: #FFB43A;
    --green: #01D098;
    --blue: #2EB7FF;
}

html {
    height: 100%;
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
    background: url("../img/pattern_nodon.png") repeat center top/320px, var(--bg-mid);
    color: var(--text);
}
body.dark_theme {
    background-image: url("../img/pattern_nodon_dark.png");
}

main {
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 3rem;
    flex: 1 0 auto;
}
main>.article_body {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 920px;
}
section {
    flex: 1 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Mark Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

h6 {
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

a:any-link {
    transition: color 0.1s ease, transform 0.1s ease;
    color: var(--text);
}
a:hover {
    color: var(--orange);
    text-decoration: underline;
}
p {
    line-height: 1.4;
}
p:not(:last-child):not(.card p) {
    margin-bottom: 2rem;
}
figure {
    margin-bottom: 2rem;
}
figcaption {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    text-align: center;
}

.icon {
    fill: currentColor;
    width: 1.2em;
    height: 1.2em;
}
.share_widget {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.share_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.share_title > button {
    cursor: pointer;
    display: flex;
    border: none;
    color: var(--text);
    background: none;
    font-size: inherit;
    padding: 0;
    line-height: 1;
}
.share_title > h5 {
    margin: 0;
}
.share_links {
    display: flex;
    justify-content: space-between;
}
.share_links > a, .share_links > button, .share_button {
    transition: background 0.1s ease;
    cursor: pointer;
    display: flex;
    position: relative;
    border: none;
    color: var(--text);
    background: var(--button);
    font-size: 1.5rem;
    padding: 0.5rem;
    line-height: 1;
    border-radius: 100%;
}
.share_links > a:hover, .share_links > button:hover, .share_button:hover {
    background: var(--button);
}
.share_links > a:active, .share_links > button:active, .share_button:active, .share_links > a:focus, .share_links > button:focus, .share_button:focus {
    background: var(--button-interact);
}
.share_button {
    box-shadow: 0 0.25rem 0 var(--bg-btm);
}
.share_dialog {
    display: none;
    flex-direction: column;
    background: var(--bg-high);
    padding: 1rem;
    width: 14rem;
    position: absolute;
    top: 3rem;
    right: 50%;
    border-radius: 1rem 0.25rem 1rem 1rem;
}
.share_dialog.is_open {
    display: flex;
}


.navbar {
    background: var(--bg-top);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
.navbar ul {
    display: flex;
}
.navbar li:not(:last-child) {
    margin-right: 1rem;
}
.navbar a:not(.nav_active):not(:hover) {
    text-decoration: none;
}
.navbar a.nav_active {
    color: var(--orange);
}

#theme_switcher {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.navbar label {
    transition: color 0.1s ease;
    cursor: pointer;
}
.navbar label:hover {
    color: var(--orange);
}

.logo {
    max-height: 2.5rem;
}

body.dark_theme .logo {
    content: url("/assets/img/logo_dark.svg");
}

header {
    flex: 0 0 auto;
    height: 12rem;
    background-size: 25%;
    display: flex;
    align-items: flex-end;
    padding: 0 1rem;
}
.header_contents {
    margin: 0 auto;
    flex: 1 0 100%;
    max-width: 1024px;
    padding-bottom: 1rem;
}
.article_title {
    max-width: 920px;
    margin: 0 auto;
}
.article_title.tutorial {
    --category: var(--green);
}
.article_title.game {
    --category: var(--red);
}
.article_title.experiment {
    --category: var(--blue);
}
.article_title.other {
    --category: var(--orange);
}
.header_contents h1 {
    color: var(--text-alt);
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    width: auto;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0;
    background-color: var(--category);
}
.header_contents h6 {
    padding: 0.5rem 1rem 0rem 1rem; 
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--category);
    color: var(--text-alt);
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    align-items: center;
    margin: 0;
}
.article_title svg {
    margin-right: 0.25rem;
}
.article_body img {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0 var(--bg-btm);
}
.comments_wrapper {
    background: var(--bg-dark);
    padding: 2rem 1rem;
    color: var(--text-alt);
}
.comments {
    margin: 0 auto;
    max-width: 920px;
}

.card_list {
    padding: 2rem 0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
}
.card_list > a:any-link, .card_list > a:hover {
    color: var(--text);
    text-decoration: none;
}
.card {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    display: none;
    background: var(--bg-top);
    border-radius: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 var(--bg-btm);
}
.card_image {
    display: flex;
    justify-content: center;
    background: var(--bg-btm);
    width: 100%;
    height: 12rem;
    padding: 1rem;
}
.card_image > img {
    height: 100%;
}
.card_contents {
    padding: 1.25rem;
}
.card_contents > h6 {
    color: var(--orange);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.card_contents > h6 > svg {
    margin-right: 0.25rem;
}
.card_contents h4 {
    margin-bottom: 0;
    color: var(--orange);
}
.card.tutorial h6 {
    content: "Tutorial";
    color: var(--green);
}
.card.game h6 {
    content: "Game";
    color: var(--red);
}
.card.experiment h6 {
    content: "Experiment";
    color: var(--blue);
}
.card_contents .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--text-faded);
}
.card_contents .comment_count {
    display: flex;
    align-items: center;
    line-height: 1;
}
.card_contents .comment_count svg {
    margin-right: 0.5em;
}

.card_show {
    display: block;
}

.filter {
    margin-top: 2rem;
}

.slider-radio {
    background: var(--bg-btm);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 36rem;
    min-height: 3rem;
    display: flex;
    margin: 0 auto;
}
.slider-radio label { 
    transition: color 0.1s ease, width 0.1s ease;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    z-index: 100;
    color: var(--text);
    justify-content: center;
    align-items: center;
}
.slider-radio label > svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.25rem;
}
.slider-radio input[type=radio] + label > span {
    display: none;
}
.slider-radio input[type=radio]:checked + label > span {
    display: inline;
}
.slider-radio input[type=radio]:checked + label,
.slider-radio .sliding-piece { 
    background-color: var(--bg-top);
    color: var(--orange);
    border-radius: 0.5rem;
}
.slider-radio input[type=radio][id="games"]:checked + label {
    color: var(--red);
}
.slider-radio input[type=radio][id="experiments"]:checked + label {
    color: var(--blue);
}
.slider-radio input[type=radio][id="tutorials"]:checked + label {
    color: var(--green);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark);
    color: var(--text-alt);
    padding: 2rem;
    flex-shrink: 0;
}
footer a:any-link, footer a:hover {
    color: var(--text-alt);
}

body.dark_theme footer, body.dark_theme footer a:any-link, body.dark_theme .comments_wrapper {
    color: var(--text);
}

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }
    .navbar {
        padding: 1rem 2rem;
    }
    .navbar li:not(:last-child) {
        margin-right: 2rem;
    }
    .slider-radio label {
        flex-direction: row;
        font-size: 1rem;
    }
    .slider-radio label > svg {
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
    .slider-radio input[type=radio] + label > span {
        display: inline;
    }
    .card:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0 0.25rem 0 var(--bg-btm);
    }
    .share_widget {
        position: relative;
        bottom: -1rem;
        float: right;
    }
    .share_links > a, .share_links > button, .share_button {
        font-size: inherit;
    }
    .header_contents {
        padding-bottom: 0;
    }
    main>.article_body {
        margin-top: 3rem;
    }
}