/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@font-face {
    font-family: 'Mark Pro';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/MARKPROHEAVY.woff') format('woff');
}

:root {
    --primary-400: #FEF242;
    --primary-500: #FBD939;
    --primary-600: #FFB43A;
    --primary-700: #FF8047;
    --neutral-0: #FFFFFF;
    --neutral-800: #28336D;
    --neutral-900: #161E4B;
    --red: #FF104F;
    --green: #01A182;
    --blue: #3386FF;
}

html {
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background: url("../img/pattern.svg") repeat-y left top, url("../img/pattern_reverse.svg") repeat-y right top, var(--primary-500);

}
html::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--neutral-900);
}
html::-webkit-scrollbar-thumb {
    background-color:var(--primary-500);
}

body {
    font-size: 1rem;
    color: var(--neutral-900);
}

main {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 3rem;
}
main>.article_body {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 920px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Mark Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

h6 {
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

a:any-link {
    color: var(--neutral-800);
}
a:hover {
    color: var(--neutral-900);
}
p {
    line-height: 1.4;
}
p:not(:last-child) {
    margin-bottom: 2rem;
}
figure {
    margin-bottom: 2rem;
}
figcaption {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    text-align: center;
}

.icon {
    fill: currentColor;
    width: 1.2em;
    height: 1.2em;
}
.share_button {
    cursor: pointer;
    display: flex;
    border: none;
    color: var(--neutral-900);
    background: var(--primary-400);
    font-size: inherit;
    padding: 0.5rem;
    line-height: 1;
    border-radius: 100%;
    box-shadow: 0 0.25rem 0 var(--primary-600);
    position: relative;
    bottom: -1rem;
    float: right;
}

.navbar {
    background: var(--neutral-0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}
.navbar a:not(.nav_active) {
    text-decoration: none;
}

.logo {
    max-height: 2.5rem;
}

header {
    height: 15rem;
    background: url("../img/pattern_green.png"), var(--neutral-0);
    background-size: 25%;
    display: flex;
    align-items: flex-end;
    padding: 0 1rem;
}
.header_contents {
    margin: 0 auto;
    flex: 1 0 100%;
    max-width: 1024px;
}
.article_title {
    max-width: 920px;
    margin: 0 auto;
}
.article_title.tutorial {
    --category: var(--green);
}
.article_title.game {
    --category: var(--red);
}
.article_title.experiment {
    --category: var(--blue);
}
.article_title.other {
    --category: var(--primary-700);
}
.header_contents h1 {
    color: var(--neutral-0);
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    width: auto;
    width: fit-content;
    margin: 0;
    background-color: var(--category);
}
.header_contents h6 {
    padding: 0.5rem 1rem 0rem 1rem; 
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--category);
    color: var(--neutral-0);
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 0;
}
.article_title svg {
    margin-right: 0.25rem;
}

.article_body img {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0 var(--primary-600);
}

.card_list {
    padding: 2rem 0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
}
.card_list > a:any-link, .card_list > a:hover {
    color: var(--neutral-800);
    text-decoration: none;
}
.card {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    display: none;
    background: var(--neutral-0);
    border-radius: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 var(--primary-600);
}
.card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.25rem 0 var(--primary-600);
}
.card_image {
    display: flex;
    justify-content: center;
    background: var(--primary-600);
    width: 100%;
    height: 12rem;
    padding: 1rem;
}
.card_image > img {
    height: 100%;
}
.card_contents {
    padding: 1.25rem;
}
.card_contents > h6 {
    color: var(--primary-700);
    display: flex;
    align-items: center;
}
.card_contents > h6 > svg {
    margin-right: 0.25rem;
}
.card.tutorial h6 {
    content: "Tutorial";
    color: var(--green);
}
.card.game h6 {
    content: "Game";
    color: var(--red);
}
.card.experiment h6 {
    content: "Experiment";
    color: var(--blue);
}

.card_show {
    display: block;
}

.filter {
    margin-top: 2rem;
}

.slider-radio {
    background: var(--primary-600);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 36rem;
    min-height: 3rem;
    display: flex;
    margin: 0 auto;
}
.slider-radio label { 
    transition: color 0.1s ease, width 0.1s ease;
    flex-basis: 100%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    z-index: 100;
    color: var(--neutral-900);
    justify-content: center;
    align-items: center;
}
.slider-radio label > svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.25rem;
}
.slider-radio input[type=radio] + label > span {
    display: none;
}
.slider-radio input[type=radio]:checked + label > span {
    display: inline;
}
.slider-radio input[type=radio]:checked + label,
.slider-radio .sliding-piece { 
    background-color: var(--neutral-0);
    color: var(--primary-700);
    border-radius: 0.5rem;
}
.slider-radio input[type=radio][id="games"]:checked + label {
    color: var(--red);
}
.slider-radio input[type=radio][id="experiments"]:checked + label {
    color: var(--blue);
}

.slider-radio input[type=radio][id="tutorials"]:checked + label {
    color: var(--green);
}


@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }
    .slider-radio label {
        flex-direction: row;
        font-size: 1rem;
    }
    .slider-radio label > svg {
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
    .slider-radio input[type=radio] + label > span {
        display: inline;
    }
}