<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
    {% seo %}
</head>
<body class="light_theme">
    <script src="/assets/js/theme_check.js"></script>
    {% include navbar.html %}
    <header style="background: url({{ page.cover-picture }}) center/cover, var(--bg-btm);">
        <div class="header_contents">
            <div class="article_title {{ page.category | downcase }}">
                <h6><svg class="icon"><use href="
                    {% if page.category == "Tutorial" %}
                    /assets/img/icons.svg#icon-tutorial
                    {% elsif page.category == "Experiment" %}
                    /assets/img/icons.svg#icon-experiment
                    {% elsif page.category == "Game" %}
                    /assets/img/icons.svg#icon-game
                    {% else %}
                    /assets/img/icons.svg#icon-post
                    {% endif %}
                    "></use></svg> {{ page.category }}</h6>
                <h1>{{ page.title }}</h1>
            </div>
            <div class="share_widget">
                <div class="share_dialog">
                    <div class="share_title">
                        <h5>Share this article</h5>
                        <button class="close_button"><svg class="icon"><use href="/assets/img/icons.svg#icon-close"></use></svg></button>
                    </div>
                    <div class="share_links">
                        <a href="#" title="Share on Facebook"><svg class="icon"><use href="/assets/img/icons.svg#icon-facebook"></use></svg></a>
                        <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}%20%7C%20Game%20Builder%20Playground&url={{ page.url | absolute_url | uri_escape }}" title="Share on Twitter"><svg class="icon"><use href="/assets/img/icons.svg#icon-twitter"></use></svg></a>
                        <a href="https://reddit.com/submit?url={{ page.url | absolute_url | uri_escape }}&title={{ page.title | uri_escape }}%20%7C%20Game%20Builder%20Playground" title="Share on Reddit"><svg class="icon"><use href="/assets/img/icons.svg#icon-reddit"></use></svg></a>
                        <a href="#" title="Copy to clipboard"><svg class="icon"><use href="/assets/img/icons.svg#icon-link"></use></svg></a>
                    </div>
                </div>
                <button title="Share this article" class="share_button"><svg class="icon"><use href="/assets/img/icons.svg#icon-share"></use></svg></button>
            </div>
            
        </div>
    </header>
    <main>
        <section class="article_body">
            {{ content }}
        </section>
    </main>
    {% if page.comments %}
    <section class="comments_wrapper">
        <div class="comments">
            <h1>Comments</h1>
            <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    
                    var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://gamebuilderplayground.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div> 
        </div>
    </section>
    {% endif %}
    {% include footer.html %}
    <script src="/assets/js/theme_switcher.js"></script>
    <script>
        const shareButton = document.querySelector('.share_button');
        const shareDialog = document.querySelector('.share_dialog');
        const closeButton = document.querySelector('.close_button');
        const title = document.title;
        const url = document.querySelector('link[rel=canonical]') ? document.querySelector('link[rel=canonical]').href : document.location.href;

        
        shareButton.addEventListener('click', event => {
            if (navigator.share) {
                navigator.share({
                title: title,
                url: url
                }).then(() => {
                console.log('Thanks for sharing!');
                })
                .catch(console.error);
            } else {
                shareDialog.classList.add('is_open');
            }
        });

        closeButton.addEventListener('click', event => {
        shareDialog.classList.remove('is_open');
        });

    </script>
</body>
</html>