<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
    <title>{{ page.title }}</title>
    {% seo %}
</head>
<body>
    {% include navbar.html %}
    <header>
        <div class="header_contents">
            <div class="article_title {{ page.category | downcase }}">
                <h6><svg class="icon"><use href="
                    {% if page.category == "Tutorial" %}
                    {{'assets/img/icons.svg#icon-tutorial' | absolute_url }}
                    {% elsif page.category == "Experiment" %}
                    {{'assets/img/icons.svg#icon-experiment' | absolute_url }}
                    {% elsif page.category == "Game" %}
                    {{'assets/img/icons.svg#icon-game' | absolute_url }}
                    {% else %}
                    {{'assets/img/icons.svg#icon-post' | absolute_url }}
                    {% endif %}
                    "></use></svg> {{ page.category }}</h6>
                <h1>{{ page.title }}</h1>
            </div>
            <button class="share_button"><svg class="icon"><use href="{{ 'assets/img/icons.svg#icon-share' | absolute_url }}"></use></svg></button>
        </div>
    </header>
    <main>
        <section class="article_body">
            {{ content }}
        </section>
    </main>
</body>
</html>