<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include head.html %}
    {% seo %}
</head>
<body class="light_theme">
    <script src="/assets/js/theme_check.js"></script>
    {% include navbar.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/js/theme_switcher.js"></script>
    <script src="/assets/js/filter.js"></script>
    <script src="/assets/js/slider-radio.js"></script>
    <script id="dsq-count-scr" src="//gamebuilderplayground.disqus.com/count.js" async></script>
</body>
</html>